.inter-plat-trigger-container {
  display: flex;
  align-items: center;
  background: rgba(11, 35, 65, 0.8);
  width: 144px;
  padding: .37vh 10px;
  height: 2.222vh;
  overflow: hidden;

  * + & {
    margin-top: 10px;
  }

  .inter-plat-trigger-name {
    font-size: 11.26px;
  }

  .inter-plat-trigger-type {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
