.inter-plat-temp-group-container {
  position: fixed;
  right: 460px;
  top: 40.111vh;
  z-index: 2;

  .inter-plat-temp-group-item-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.852vh;
    padding-bottom: .93vh;
  }
}