.inter-plat-temp-group-container {
  position: fixed;
  right: 460px;
  top: 40.111vh;
  z-index: 2;
  min-width: 184px;

  .inter-plat-temp-group-item-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0 4px;
    overflow-y: auto;
    max-height: 130px;
  }
}