.inter-plat-key-value {
  color: #dbe7f5;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  width: 0;
  min-width: 50%;

  span {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      min-width: 40px;
      flex: 0 1 auto;
    }

    &:last-child {
      padding: 0 10px 0 0;
      flex: 2 1 auto;
    }

  }
}
