.inter-plat-intercom-notice {
  display: flex;
  width: 280px;
  height: 118px;
  flex-wrap: wrap;
  box-shadow: rgba(82, 169, 255, 0.24) 0 0 12px 3px inset;
  padding: 10px;
  margin-top: 10px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);

  &:hover{
    box-shadow: rgba(97, 160, 224, 0.5) 0 0 12px 3px inset;
  }

  textarea {
    resize: none;
    background: none;
    border: none;
    outline: none;
    color: #dbe7f5;
  }
}