@mixin select-box-bg {
  border: 1px solid rgba(45, 60, 76, 0.8);
  background: rgba(21, 47, 69, 0.8);
}

$hover: #2e72ab;
$focus: #40a9ff;

.inter-plat-search {
  position: absolute;
  left: 500px;
  top: 85px;
  padding: 0;
  display: flex;
  flex-direction: column;

  .inter-plat-search-box {
    display: flex;

    .inter-plat-select {
      width: 60px;
      height: 30px;
      outline: none;
      margin: 0;
      display: flex;
      align-items: center;
      cursor: pointer;

      .ant-select-selector {
        height: 60%;
        width: 100%;
        color: #cbcbcb;
        font-size: 12px;
        background: none;
        border: none;
        outline: none;
        box-shadow: unset !important;
        margin: 0;
        display: flex;
        align-items: center;
        border-right: 1px solid #0a1c2e;

        .ant-select-selection-item {
          height: 100%;
          display: flex;
        }

        .ant-select-selection-search {
          width: 20px;
          margin-right: 0;
          vertical-align: middle;
          line-height: unset;

          .ant-select-selection-search-input {
            height: 100%;
            line-height: unset;
            float: none;
            display: flex !important;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &.ant-select-focused.ant-select-single .ant-select-selector {
        border-right-color: #0a1c2e;
      }

      &:hover .ant-select-selector,
      &.ant-select-focused.ant-select-single:hover .ant-select-selector {
        border-right-color: $hover;
      }

      &.ant-select-focused.ant-select-single.ant-select-open .ant-select-selector {
        border-right-color: $focus;
      }

      .ant-select-arrow {
        font-size: 0.525vw;
        right: 0.473vw;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;

        .anticon-down {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        svg {
          fill: #969799;
        }
      }
    }

    .inter-plat-search-input {
      text-indent: 60px;
      width: 264px;
      margin-left: -60px;
      height: 30px;
      padding: 2px 40px 2px 10px;
      @include select-box-bg;
      outline: none;
      font-size: 12px;
      color: #a8aeba;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);

      &:hover {
        border-color: $hover;
      }

      &:active, &:focus {
        border-color: $focus;
        box-shadow: 0 0 0 0.104vw rgba(24, 144, 255, .2);
      }

      &::-webkit-input-placeholder { /* WebKit browsers */
        color: #a8aeba;
      }

      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #a8aeba;
        opacity: 1;
      }

      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #a8aeba;
        opacity: 1;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #a8aeba;
      }
    }

    button {
      width: 30px;
      height: 30px;
      margin-left: -30px;
      border: none;
      cursor: pointer;
      outline: none;
      background: url(./images/search-button-icon.png) no-repeat center / 60% 60%;
      transform: scale(.9);
      opacity: .7;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);

      &:hover {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .inter-plat-search-display {
    @include select-box-bg;
    display: none;
    padding-left: 0;
    animation: .4s cubic-bezier(0.37, 1.03, 0.55, 1.01) forwards;
    flex-direction: column;
    max-height: 310px;
    overflow: auto;
    overflow-x: hidden;
    margin: 0;

    .secondary {
      margin-inline-start: 0;
      padding-inline-start: 0;
    }

    &.inter-plat-search-display-show {
      display: flex;
      animation-name: show-item;
    }

    &.inter-plat-search-display-hide {
      display: flex;
      animation-name: hide-item;
    }

    .inter-plat-search-display-item {
      width: 100%;
      font-size: 12px;
      color: #999999;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      user-select: none;

      .icon-container {
        justify-content: start;
      }

      img {
        width: auto;
        height: 16px;
      }

      span {
        font-size: 12px;
      }

      &.have-children {
        flex-direction: column;
        justify-content: center;
        align-items: unset;
      }
    }
  }

  @keyframes show-item {
    0% {
      margin-top: 0;
      opacity: 0;
    }
    100% {
      margin-top: 4px;
      opacity: 1;
    }
  }
  @keyframes hide-item {
    0% {
      margin-top: 4px;
      opacity: 1;
    }
    100% {
      margin-top: 0;
      opacity: 0;
    }
  }
}

.inter-plat-dropdown {
  border-radius: 0;
}

.ant-select-dropdown.ant-select-dropdown {
  @include select-box-bg;

  .ant-select-item {
    font-size: 12px;
    background: none;
    color: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: unset;

    &.ant-select-item-option-selected {
      background: none;

      .ant-select-item-option-content {
        background: rgba(2, 66, 104, 0.65);
      }
    }

    &.ant-select-item-option-active {
      background: none;
    }

    &:hover {
      background: rgba(2, 33, 58, .6);
      border: none;
    }
  }

  .ant-select-item-selected {
    background: rgba(89, 110, 130, 0.2);
    font-weight: 600;
    color: currentColor;
  }

  .ant-empty-description {
    color: #a8aeba;
  }
}
