.inter-plat-temp-group-create-modal-item {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
}

.inter-plat-temp-group-create-icon {
  width: auto;
  cursor: pointer;

  .icon-img {
    width: 20px;
    height: 20px;
  }
}