.inter-plat-display-container {
  position: fixed;
  right: 460px;
  top: 85px;
  z-index: 2;

  .inter-plat-display-item-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.852vh;
    padding-bottom: .93vh;
  }
}