.inter-plat-intercom-operation {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;

  .inter-plat-intercom-button-container {
    display: flex;
    justify-content: center;

    .icon-container {
      flex: 0 0;
      cursor: pointer;

      .icon-img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
