.icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;

  .icon-img-box {
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-img {
      width: 16px;
      height: 16px;
      transition: all .4s;
    }
  }

  .icon-text {
    font-size: 12px;
    text-indent: 10px;
  }
}
