.inter-plat-member {
  cursor: pointer;
  transition: transform .4s;
  display: flex;
  flex-direction: column;
  padding: 5px 3px;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 24px;
    height: 24px;
  }

  span {
    font-size: 10px;
  }
}
