.inter-plat-trigger-container {
  display: flex;
  align-items: center;
  background: rgba(11, 35, 65, 0.8);
  padding: 4px 10px;
  height: 24px;
  border: 1px solid #213c5a;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);

  * + & {
    margin-top: 10px;
  }

  .inter-plat-trigger-name {
    font-size: 11.26px;
  }

  .inter-plat-trigger-type {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &.hover {
    cursor: pointer;

    &:hover {
      border-color: #2e72ab;
    }

    &:active,
    &.active {
      background: rgb(18, 47, 83);
    }
  }
}
