@import '~antd/dist/antd.css';

@mixin block {
  position: absolute;
  top: 54px;
  width: 450px;
  height: calc(100vh - 54px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }

  &.show-panel {
    animation: 1s cubic-bezier(.645, .045, .355, 1) forwards;
  }

  &.not-show-panel {
    animation: 1s cubic-bezier(.645, .045, .355, 1) forwards;
  }

  &.inter-plat-left.show-panel {
    animation-name: show-left-panel;
  }
  &.inter-plat-left.not-show-panel {
    animation-name: not-show-left-panel;
  }
  &.inter-plat-right.show-panel {
    animation-name: show-right-panel;
  }
  &.inter-plat-right.not-show-panel {
    animation-name: not-show-right-panel;
  }
}

.inter-plat-app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;

  .inter-plat-header {
    position: relative;
    top: 0;
    z-index: 2;
    display: flex;
    height: 54px;
    background: rgba(21, 33, 45, 0.8);
    align-items: center;
    justify-content: center;

    .inter-plat-logo-container {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;

      .inter-plat-logo {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-right: 10px;
        background: url(../../images/hz-logo.png) no-repeat center / 40px 40px;
      }

      .inter-plat-name {
        font-size: 20.65px;
      }
    }

    .inter-plat-nav-container {
      display: flex;
      align-items: center;
    }
  }

  .inter-plat-container {
    display: flex;
    flex: 1;

    .inter-plat-left {
      @include block;
      left: 0;
      padding: 10px 10px 20px 10px;
      background: linear-gradient(to left,
              rgba(22, 45, 64, 0) 0%,
              rgba(22, 45, 64, .6) 20%,
              rgba(22, 45, 64, 1) 100%
      );
    }

    .inter-plat-center {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      .inter-plat-other {
        position: fixed;
        top: 0;
        left: 0;
        animation: 1s cubic-bezier(.645, .045, .355, 1) forwards;

        &.show {
          animation-name: show-other;
        }

        &.hidden {
          animation-name: not-show-other;
        }
      }
    }

    .inter-plat-right {
      @include block;
      right: 0;
      padding: 10px 10px 10px 10px;
      background: linear-gradient(to right,
              rgba(22, 45, 64, 0) 0%,
              rgba(22, 45, 64, .6) 20%,
              rgba(22, 45, 64, 1) 100%
      );
    }

    @keyframes show-left-panel {
      0% {
        left: -450px;
      }
      100% {
        left: 0;
      }
    }

    @keyframes not-show-left-panel {
      0% {
        left: 0;
      }
      100% {
        left: -450px;
      }
    }

    @keyframes show-right-panel {
      0% {
        right: -450px
      }
      100% {
        right: 0;
      }
    }

    @keyframes not-show-right-panel {
      0% {
        right: 0;
      }
      100% {
        right: -450px;
      }
    }

    @keyframes show-other {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes not-show-other {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
