@mixin border-color {
  border-color: #213c5a;
}

@mixin bg {
  border: 1px solid rgba(45, 60, 76, .8);
  background: rgba(21, 47, 69, .8);
}

@mixin bg_hover {
  border-color: #2e72ab;
}

@mixin bg_focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 0.104vw rgba(24, 144, 255, .2);
}

@mixin btn {
  text-shadow: 0 0 4px #000d24;
  color: #3f8ee0;
  background: #012141;
  @include border-color;
  font-weight: bolder;
  padding: 0 10px;

  &:hover {
    @include bg_hover;
  }

  &:disabled {
    filter: grayscale(100%);
    opacity: .6;
    cursor: default;
  }
}

/* 此处表单及其内部样式受editTask内“ant-modal”影响，后期优化时可以考虑将这部分css代码抽离出来 */
.temp-group-edit-modal.ant-modal {

  .ant-modal-body {
    max-height: 750px;
    overflow-y: auto;
  }

  .inter-plat-row-text {
    color: #a7a7a7;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .temp-group-edit-modal-row {
    margin-top: 30px;

    & > * {
      margin-left: 10px;
    }

    button {
      @include btn;
    }

    &.bottom-line {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid;
      @include border-color;
    }
  }

  input:disabled {
    filter: grayscale(60%);
    opacity: .8;
    cursor: default;
  }

  .ant-checkbox-group {
    width: 100%;

    .ant-checkbox-wrapper {
      width: 30%;

      &:nth-child(3n) {
        margin-right: 0 !important;
      }
    }
  }

  .checkbox-operation {
    .ant-form-item-control-input {
      border-bottom: 1px solid;
      @include border-color;
    }
  }

  .checkbox-all,
  .checkbox-invert {
    color: #40a9ff !important;
  }

  .checkbox-entity-content {
    .ant-checkbox-group {
      max-height: 80px;
      overflow-y: auto;
    }

    & > .ant-form-item-label > label::before {
      display: inline-block;
      margin-right: .208vw;
      color: #ff4d4f;
      font-size: .729vw;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }
}
