.inter-plat-intercom-member {
  display: flex;
  overflow-y: auto;
  width: 280px;
  height: 118px;
  flex-wrap: wrap;
  box-shadow: rgba(82, 169, 255, 0.24) 0 0 12px 3px inset;
  padding: 10px;
  margin-top: 10px;

  .icon-container {
    width: unset;
    cursor: pointer;

    .icon-img {
      width: 20px;
      height: 20px;
    }
  }
}