.inter-plat-handle-event.inter-plat-handle-event {
  resize: none;
  background: rgba(45, 60, 76, .3);
  border: 1px solid rgba(45, 60, 76, .8);
  outline: none;
  color: #dbe7f5;
  font-size: 12px;
}