.toggle-container {
  width: 2.222vh;
  height: 1.111vh;
  background: #467091;
  border-radius: 0.556vh;
  display: flex;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);

  span {
    background: rgba(231, 233, 236, 0.5);
    width: 1.111vh;
    height: 1.111vh;
    border-radius: 0.556vh;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }

  &:hover {
    background: #2e72ab;

    span {
      background: rgba(231, 233, 236, 1);
    }
  }

  &:active {
    background-color: #40a9ff;
    box-shadow: inset 0 0 0 0.104vw rgba(24, 144, 255, .2);
  }
}
