.toggle-container {
  width: 24px;
  height: 12px;
  background: rgba(70, 112, 145, .4);
  border-radius: 12px;
  display: flex;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  justify-content: flex-start;

  span {
    background: rgba(231, 233, 236, .6);
    width: 12px;
    height: 12px;
    border-radius: 6px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }

  &:hover {
    background: #2e72ab;

    span {
      background: rgba(231, 233, 236, 1);
    }
  }

  &:active {
    background-color: #40a9ff;
    box-shadow: 0 0 4px 1px rgba(24, 144, 255, .6);
  }

  &.active {
    background: #2e72ab;
    justify-content: flex-end;
  }
}
