.title-container {
  display: flex;
  flex-direction: column;
  //overflow: hidden;

  .title-header {
    box-sizing: border-box;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .title-shape {
      width: 2px;
      min-width: 2px;
      height: 24px;
      margin-left: 8px;
      background: currentColor;
      box-shadow: #2e72ab 0 0 6px 2px;
      border-radius: 4px;
      flex-shrink: 0;
    }

    .title-font {
      margin-left: 15px;
      width: auto;
      min-width: 100px;
      height: 100%;
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .title-extra-element-container {
      display: flex;
      justify-content: flex-end;
      flex-grow: 2;
      align-self: flex-end;
      overflow: hidden;
    }
  }

  .title-content {
    //overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
