.legend-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .legend-shape {
    margin-left: 4px;
  }

  .legend-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
