@mixin select-box-bg {
  border: 1px solid rgba(45, 60, 76, 0.9);
  background: rgba(21, 47, 69, 0.95);
}

$hover: #2e72ab;
$focus: #40a9ff;

.resource-statistics-admin-regions {
  .ant-cascader-picker {
    height: 25px;
    font-size: 12px;
    background: rgba(21, 47, 69, 0.8);
    line-height: unset;
    display: flex;

    .ant-cascader-input {
      padding: 0 6px;
      font-size: 12px;
      border: 1px solid rgba(45, 60, 76, 0.8);
    }

    .ant-cascader-picker-label {
      padding: 0 6px;
      color: #a8aeba;

      &:hover + .ant-cascader-input {
        border-color: #2e72ab;
      }
    }

    &.ant-cascader-picker-focused .ant-cascader-input {
      border-color: #40a9ff;
    }

    .ant-cascader-picker-clear{
      color: #999999;
      background: none;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);

      &:hover{
        color: #3b7caf;
        transform: scale(1.1);
      }
    }
    
    .ant-cascader-picker-arrow{
      color: #999999;
    }
  }
}

.ant-cascader-menus.ant-cascader-menus{
  @include select-box-bg;
  font-size: 12px;
  color: #999999;

  .ant-cascader-menu{
    border-color: #0a1c2e;
    
    .ant-cascader-menu-item-expand-icon{
      color: #999999;
    }

    .ant-cascader-menu-item:hover{
      background: rgba(2,62,93,.5);
      color: #3b7caf;
    }

    .ant-cascader-menu-item-active{
      background: rgba(2, 66, 104, 0.65);
    }
  }
}
