.resource-statistics-left-range {
  display: flex;
  font-size: 12px;
  height: 24px;
  flex-wrap: wrap;
  align-items: center;

  .highlight {
    padding-right: 4px;
    color: #ccb726;
  }

  .range-input {
    width: 30px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid #ccb726;
    color: #ccb726;
    box-shadow: unset;
    outline: none;
  }

  * + .highlight {
    padding-left: 4px;
  }
}