.inter-plat-intercom-container {
  position: fixed;
  right: 460px;
  top: 73.815vh;
  z-index: 2;

  .inter-plat-intercom-content {
    .inter-plat-intercom-member {
      display: flex;
      width: 280px;
      flex-wrap: wrap;
      box-shadow: rgba(82, 169, 255, 0.24) 0 0 12px 3px inset;
      padding: 1.852vh 1.042vw .93vh;
    }

    .inter-plat-intercom-button-container {
      display: flex;
    }
  }
}